:root {
  /* Color */
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;

  /* Size */
  --padding: 12px;
  --font-large: 28px;
  --font-medium: 20px;
  --font-small: 18px;
  --font-micro: 12px;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: var(--padding);
}

.navbar__logo {
  font-size: var(--font-large);
}

.navbar__logo i {
  color: var(--accent-color);
}

.navbar__menu {
  display: flex;
  padding-left: 0;
  font-size: var(--font-medium);
}

.navbar__menu li {
  padding: var(--padding);
  list-style: none;
  border-radius: 4px;
}

.navbar__icon {
  display: flex;
  color: var(--text-color);
  padding-left: 0;
  font-size: var(--font-medium);
}

.navbar__icon li {
  list-style: none;
  padding: var(--padding);
}

.navbar__toggleBtn {
  position: absolute;
  right: 24px;
  font-size: var(--font-medium);
  color: var(--accent-color);
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding);
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar__menu li {
    text-align: center;
  }

  .navbar__menu li:hover {
    background-color: var(--accent-color);
  }

  .navbar__icon {
    display: none;
    width: 100%;
    justify-content: center;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icon.active {
    display: flex;
  }
}
